<% const menuItems = {
    message: [
        { text: "Copy Text", action: "copy" },
        { text: "Edit", action: "edit", dataId: "edit" },
        { text: "Delete", action: "delete", style: "color: red", dataId: "delete" },
        { text: "Reply", action: "reply" },
        { text: "Copy ID", action: "copy_id" },
        { text: "Add Reaction", action: "add_reaction" },
        { text: "Pin Message", action: "pin", dataId: "pin" },
        { text: "Unpin Message", action: "unpin", dataId: "unpin" }
    ],
    realm: [
        { text: "Mute", action: "mute" },
        { text: "Copy ID", action: "copy_id" },
        { text: "Copy Invite", action: "copy_invite" },
        { text: "Exit From Realm", action: "exit", style: "color: red" }
    ],
    channel: [
        { text: "Subscribe", action: "subscribe", dataId: "subscribe" },
        { text: "Copy ID", action: "copy_id" }
    ]
}; %>
  
<% const renderMenu = (menuId, items, contextType) => { %>
    <div id="<%= menuId %>" class="context-menu">
        <% items.forEach(item => { %>
            <div class="context-menu__item" 
                <% if (item.dataId) { %> data-id="<%= item.dataId %>" <% } %>
                onclick="contextFunc.<%= contextType %>('<%= item.action %>')" 
                translate 
                <% if (item.style) { %> style="<%= item.style %>" <% } %>
            >
                <%= item.text %>
            </div>
        <% }); %>
    </div>
<% }; %>
  
<%= renderMenu("mesage_context_menu", menuItems.message, "message") %>
<%= renderMenu("realm_context_menu", menuItems.realm, "realm") %>
<%= renderMenu("channel_context_menu", menuItems.channel, "channel") %>